
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<form asp-action="updatePassword" method="post">
    <div class="form-group">
        <input type="password" name="NewPassword" class="form-control" id="exampleInputPassword1" placeholder="New Password">
        <span style="color: red;" id="OldValid"></span>
    </div>
    <br/>
    <div class="form-group">
        <input type="password" name="ConformPassword" class="form-control" id="exampleInputPassword2" placeholder="Conform Password">
        <span style="color: red;" id="NewValid"></span>
    </div>
    <br/>
    <button type="submit" id="changPass" class="btn btn-primary">Change Password</button>
    <p>Create a new account ? @Html.ActionLink("Click Here","Login","MVCUser")</p>
</form>

@section Scripts {
    
    <script>
        $(document).ready(function(){
            $("#changPass").click(function(e){
                var OldPassword = $("#exampleInputPassword1").val();
                var NewPassword = $("#exampleInputPassword2").val();
                console.log(OldPassword, NewPassword);


                if(OldPassword == "" && NewPassword == ""){
                    e.preventDefault();
                    //alert("Please enter email");
                    $("#OldValid").html("Please enter email");
                    $("#OldValid").show();
                    $("#NewValid").html("Please enter email");
                    $("#NewValid").show();
                }
                else{
                    $("#OldValid").hide();
                    $("#NewValid").hide();
                    if(OldPassword != NewPassword)
                    {
                        e.preventDefault();
                        $("#NewValid").html("New password and old password must be same");
                        $("#NewValid").show();
                    }
                }
            });
        });
     </script>
}