
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
@if(TempData["msg"] != null)
{
    <div id="alertMessage" class="alert alert-danger">
        @TempData["msg"]
    </div>
}
@if(TempData["Send_mail_msg"] != null)
{
    <div id="alertMessage" class="alert alert-danger">
        @TempData["Send_mail_msg"]
    </div>
}
<h1>Forgot Password</h1>	
<form asp-action="checkEmailExist" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1" for="email"></label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <span style="color: red;" id="emailValid"></span>
    </div>
    <br/>
    <button type="submit" id="btn" class="btn btn-primary">Submit</button>
    <p>Login ? @Html.ActionLink("Click Here","Login","MVCUser")</p>
</form>

@section Scripts {
     <script>
        setTimeout(()=>{
            $('#alertMessage').fadeOut('slow');
        },4000);

        $(document).ready(function(){
            $("#btn").click(function(e){
                var email = $("#exampleInputEmail1").val();
                if(email == ""){
                    e.preventDefault();
                    //alert("Please enter email");
                    $("#emailValid").html("Please enter email");
                    $("#emailValid").show();
                }
            });
        });
     </script>
}

